form(style='margin-left: 30%; margin-right: 30%;')
  .form-row
    .form-group.col-md-6
      label(for='inputEmail4') Email
      input.form-control#inputEmail4(type='email')
    .form-group.col-md-6
      label(for='inputPassword4') Password
      input.form-control#inputPassword4(type='password')
  .form-group
    label(for='inputAddress') Address
    input.form-control#inputAddress(type='text' placeholder='1234 Main St')
  .form-group
    label(for='inputAddress2') Address 2
    input.form-control#inputAddress2(type='text' placeholder='Apartment, studio, or floor')
  .form-row
    .form-group.col-md-6
      label(for='inputCity') City
      input.form-control#inputCity(type='text')
    .form-group.col-md-4
      label(for='inputState') State
      select#inputState.form-control
        option(selected) Choose...
        option ...
    .form-group.col-md-2
      label(for='inputZip') Zip
      input.form-control#inputZip(type='text')
  .form-group
    .form-check
      input.form-check-input#gridCheck(type='checkbox')
      label.form-check-label(for='gridCheck').
        
        Check me out
        
  button.btn.btn-primary(type='submit') Sign in
