extends layout
block content
    h3(style='text-align: center;') Horaires de paiement pour les locateurs 
    
    .row
       .col-md-12
           table.table.table-striped.table-dark
                thead
                    tr
                    th(scope='col') Numero
                    th(scope='col') Nom
                    th(scope='col') Prenom
                    th(scope='col') Télephone
                    th(scope='col') Type_Maison
                    th(scope='col') Date_de_paiement
                tbody
                    tr
                    th(scope='row') 1
                    td Aimé
                    td NDAYIZEYE 
                    td 79 30 78 81
                    td Maison principal
                    td  le 02/.../...

                    tr
                    th(scope='row') 2
                    td Rebecca
                    td Rebecca
                    td 69 57 60 24
                    td 2 chambres et salon
                    td le 10/.../...

                    tr
                    th(scope='row') 3
                    td Samuel
                    td Samuel
                    td 71 41 67 13
                    td chambre et salon
                    td le 01/.../...

                    tr
                    th(scope='row') 4
                    td Daniel
                    td Daniel
                    td 61 53 20 55
                    td chambrette
                    td le 10/.../...

                        